.main-grid-settings-window-list [data-name="PHONE"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="EMAIL"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="COMMENTS"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="UF_CRM_1639485462275"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="UF_CRM_61B8907E1C0A5"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="UF_CRM_1640606874923"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="UF_CRM_61C9AD01AFA92"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="UF_CRM_1663624786260"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="UF_CRM_6328E742EB052"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="UF_CRM_1668161666507"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="UF_CRM_6372B026EB9D6"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="UF_CRM_636E20E73FB88"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="UF_CRM_1665408959"] {
	display: none !important;
}
.main-grid-settings-window-list [data-name="UF_CRM_1662816497"] {
	display: none !important;
}